

.spinner {
  border: 8px solid #550077;
  border-top: 8px solid #79ffa1;
  border-radius: 50%;
  /* border-style: dashed; */
  /* width: 60px;
  height: 60px; */
  animation: spin 1.2s linear infinite;
}

.spinner-sm {
  border: 4px solid #550077;
  border-top: 4px solid #79ffa1;
  border-radius: 50%;
  /* border-style: dashed; */
  /* width: 60px;
  height: 60px; */
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}