i {
    z-index: 100;
}

.input-container {
    text-align: left;
}

.input-style {
    font-family: sans-serif;
    width: 100%;
    box-sizing: border-box;
    /* width: 100%; */
    padding: 7px;
    font-size: 13px;
    border-radius: 7px;
    border: solid 1px rgb(180, 180, 180);
}

.input-style-icon {
    width: calc(100% - 29px);
    box-sizing: border-box;
    /* width: 100%; */
    padding: 7px;
    font-size: 13px;
    border-radius: 7px;
    border: solid 1px rgb(180, 180, 180);
}

.input-box-shadow{
    box-shadow: 1px 2px 2px gray;
}

.input-with-icon {
    text-align: left;
    width: 100%;
    position: relative;
    display: inline-block;
}

/* .input-with-icon .input-icon-end {
    padding-right: 25px;
}

.input-with-icon .input-icon-start {
    padding-left: 25px;
} */

.icon-right,
.icon-left {
    z-index: 10;
    position: absolute;
    top: 0;
    margin-top: 1px;
    padding-top: 1px;
    /* padding-bottom: -5px; */
    height:25px;
    right: 3px;
    margin-right: 0;
    color: #888;
    cursor: pointer;
    border-radius: 7px;
    border: solid 1px #888;
    background-color: #e9e2e2;
}




.input-style.soft-disabled {
    width: 100%;
    box-sizing: border-box;
    /* width: 100%; */
    padding: 7px;
    font-size: 13px;
    border-radius: 7px;
    border: dashed 1px rgb(163, 163, 163);
    background-color: rgb(236, 235, 235);
}

.input-style.disabled {
    width: 100%;
    box-sizing: border-box;
    /* width: 100%; */
    padding: 7px;
    font-size: 13px;
    border-radius: 7px;
    border: dashed 1px rgb(163, 163, 163);
    background-color: rgb(218, 218, 218);
    color: rgb(121, 121, 121);
}

/* .input-with-icon .icon-right {
    position: absolute;
    
    right: 8px;
    
    margin-right: 0;
    pointer-events: none;
    
    color: #888;
} */