<div class="input-with-icon">
    @if(label !== ""){
        <label >{{ label }}</label>
    }
    <input
        type="date"
        [value]="displayValue"
        (input)="onInput($event)"
        [placeholder]="placeholder"
        [min]="min"
        [max]="max"
        [disabled]="disabled || softDisabled"
        class="input-style"
        [ngClass]="(boxShadow ? 'input-box-shadow' : '') 
            + (softDisabled ? ' soft-disabled' : disabled ? ' disabled' : '')"
    />
</div>

<!-- 
@if(label !== ""){
    <label >{{ label }}</label>
}
<div [ngClass]="(iconEnd !=='' || type.toLowerCase() === 'password') ? 'input-with-icon' : 'input-container'">
    @if(iconStart !== ""){
        <i (click)="iconStartClick.emit()" 
            [ngClass]="iconStart + ' icon-left'"></i>
    }
    <input #thisinput
        [type]="type.toLowerCase() === 'password' ? showPassword ? 'text' : 'password' : type"
        [placeholder]="placeholder"
        [value]="value"
        [disabled]="disabled || softDisabled"
        [required]="required"
        (keyup.enter)="onEnter.emit()"
        (input)="onInput($event)"
        [ngClass]="(boxShadow ? 'input-box-shadow' : '') 
            + (
                (iconEnd !=='' || type.toLowerCase() === 'password') ? 
                    ' input-style-icon' : ' input-style'
            ) + (softDisabled ? ' soft-disabled' : disabled ? ' disabled' : '')"
        />
    @if(iconEnd !== ""){
        <span class="icon-right" (click)="iconEndClick.emit()" >
            <i
                [ngClass]="iconEnd + ' '"></i>
        </span>
    }
    @if(type.toLowerCase() === 'password'){
        <span class="icon-right" (click)="setPassword(!this.showPassword)" >
            <i [ngClass]="this.showPassword ? 'icon-eye-crossed': 'icon-eye'"></i>
        </span>
    }
    @if(loading){
        <app-loading-spinner width="18px" height="18px">
        </app-loading-spinner>
    }
</div> -->
