.hamburger {
    margin-top: 4px;
    margin-bottom: 5px;
    color: white;
    text-emphasis: bold;
    text-shadow: 1px 2px 3px #222222;
    margin-left: 22px;
    font-size: 30px;
    width: 40px;
}

.hamburger:hover {
    cursor: pointer;
}

.block-heading {
    z-index: 10;
    width: 30vw;
    max-width: 300px;
    min-width: 215px;
    /* background-image: url("/assets/bg3.jpg"); */
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    overflow: hidden;
    background-size: cover;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
    transition: 1s;
    padding-bottom: 10px;
    padding-right: 15px;
}


.menu-item {
    /* font-size: 28px; */
    padding: 10px;
}

.accordion-content {
    overflow: hidden;
    z-index: 20;
}

.icon-container {
    position: relative;
    display: inline-block;
}

.day-overlay {
    position: absolute;
    top: 57%;
    left: 45%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    font-size: 18px;
    color: rgb(36, 36, 36);
    /* text-shadow: 1px 1px 3px rgba(54, 54, 54, 0.9); */
    pointer-events: none;
}

.grid-menu {
    display: grid;
    grid-template-columns: 20% 80%;
}

.nav-menu {
    top: 0px;
    left: 0px;
    width: 370px;
    position: absolute;
    background-image: url(../../../assets/menubg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: rgb(221, 221, 221); */
    /* background-color: #95e490; */
    /* margin-top: -10px; */
    z-index: 5;
}

.nav-padding{
    padding: 20px 20px 20px 0px;
}


.nav-menu-sub {
    top: 70px;
    left: 0px;
    width: 300px;
    position: absolute;
    background-color: rgb(221, 221, 221);
    /* background-color: #95e490; */
    padding: 0px 20px 20px 20px;
    /* margin-top: -10px; */
    z-index: 5;
}

.grid-dropdown-flat {
    display: grid;
    grid-template-columns: 20% 65% 15%;
}



.menu-icon {
    max-height: 32px;
    margin-left: 10px;
    margin-top: 4px;
    filter: none;
}

.menu-icon-arrow {
    max-height: 25px;
    margin-left: 5px;
    margin-top: 8px;
    filter: none;
}

.menu-label {
    /* color:#5bfd4d; */
    /* color: white; */
    color: black;
    font-weight: 700;
}


@media only screen and (max-width:700px) {
    .block-heading {
        width: 50vw;
        max-width: 300px;
    }

    .menu-item {
        font-size: 24px;
    }

    .hamburger {
        margin-top: 0px;
        margin-bottom: 3px;
        margin-left: 10px;
        font-size: 25px;
        width: 25px;
    }
}

@media only screen and (max-width: 350px) {
    .hamburger {
        margin-top: 0px;
        margin-left: 7px;
        font-size: 22px;
        width: 22px;
    }
}