i {
    z-index: 100;
}

.textarea-container {
    text-align: left;
    width: 100%;
    position: relative;
}

.textarea-style {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 14px;
    border-radius: 7px;
    border: solid 1px rgb(180, 180, 180);
    font-family: inherit;
    resize: none;
    min-height: 100px;
}

.input-container {
    text-align: left;
}

.input-style {
    width: 100%;
    box-sizing: border-box;
    /* width: 100%; */
    padding: 7px;
    font-size: 13px;
    border-radius: 7px;
    border: solid 1px rgb(180, 180, 180);
}

.input-style-icon {
    width: calc(100% - 29px);
    box-sizing: border-box;
    /* width: 100%; */
    padding: 7px;
    font-size: 13px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border: solid 1px rgb(180, 180, 180);
}

.input-box-shadow {
    box-shadow: 1px 2px 2px gray;
}

.icon-box-shadow {
    box-shadow: 1px 2px 2px gray;
}

.input-with-icon {
    text-align: left;
    width: 100%;
    position: relative;
    display: inline-block;
}

/* .input-with-icon .input-icon-end {
    padding-right: 25px;
}

.input-with-icon .input-icon-start {
    padding-left: 25px;
} */

.icon-right,
.icon-left {
    z-index: 10;
    position: absolute;
    top: 0;
    margin-top: 0px;
    padding-top: 1px;
    /* padding-bottom: -5px; */
    height: 26px;
    right: 3px;
    margin-right: 0;
    color: #888;
    cursor: pointer;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    /* border: solid 1px #888; */
    border: solid 2px rgb(180, 180, 180);
    /* background-color: #e9e2e2; */
    background-color: rgb(243, 243, 243);
}



.input-style.soft-disabled,
.textarea-style.soft-disabled {
    border: dashed 1px rgb(163, 163, 163);
    background-color: white;
    color: #4d4d4d;
}

.input-style.disabled,
.textarea-style.disabled {
    border: dashed 1px rgb(163, 163, 163);
    background-color: rgb(218, 218, 218);
    color: rgb(121, 121, 121);
}

/* .input-with-icon .icon-right {
    position: absolute;
    
    right: 8px;
    
    margin-right: 0;
    pointer-events: none;
    
    color: #888;
} */



@media only screen and (max-width: 800px) {

    .input-style,
    .input-style-icon {
        padding: 8px 7px 8px 7px;
        font-size: 14px;
    }

    .input-style-icon {
        width: calc(100% - 35px);
    }

    .icon-right,
    .icon-left {
        height: 29px;
    }
    
    .textarea-style {
        padding: 10px;
        font-size: 15px;
        min-height: 120px;
    }

}